{% load i18n %}

<!-- utc_required_variable:({{page_options.bb_alevel}}) [page_options.bb_alevel] -->
<!-- utc_required_variable:({{page_options}}) [page_options] -->


<div class="{{brick.indentation_class}}">
    <!--unicode south east arrow (gets shown when this anchor is :target)-->
<a name="{{brick.pk}}" class="shifted_anchor"><span class="anchor_highlight">&#x2198;</span></a>

<div class="box_title-tag modest_links {% block title_tag_css %}{% endblock %}">
    {# !! preferably we would not use |safe at all but we also want to render things like &#x1f4a1; here #}
    {# important: title_tag contains no user data so#}
    <a href="{% url 'brickid' brick.pk %}">{{brick.title_tag|safe}}</a>
</div>



<div class="{% block box_css %}box_base{% endblock %}">

{% block inbox_title %}
    <b>{{brick.title}}</b>
{% endblock %}

{% block content %}
    {{brick.content}}
{% endblock %}

{% block references %}
    <hr>
    <div class="references">
    <b>{% trans 'References' %}</b><br>
        {{brick.references}}
    </div>
{% endblock %}
{% block tags %}
    <hr class="opacity30">
    <div class="tags-text">
    <b>{% trans 'Tags' %}:</b>&nbsp;
        {{brick.tags}}
    </div>
{% endblock %}

{# some debug information #}
{% comment %}
    rlevel: {{brick.relative_level}}
    <br>
    alevel: {{brick.absolute_level}}
    <br>
    bb_alevel: {{page_options.bb_alevel}}
    <br>
    iclass: {{brick.indentation_class}} {{brick.indentation_offset}}
    <br>
    pk: {{brick.pk}}  parent.pk = {{brick.parent.pk}}
    <br>
    page_options.page_type: {{page_options.page_type}}
{% endcomment %}

<hr>

    <div class="tab_container">
        <div class="cell_left">
{% block footmenu_left %}

        <!-- !! hcl-->
        {# !! introduce brick.vote_criterion instead #}
        {% include "sober/widget_ddmenu_vote_slider.html" with description_text="Überzeugungskraft" only %}

        {% include "sober/widget_ddmenu_brick_action.html" with brick=brick page_options=page_options only %}

            <!--End of menu button-->
        <form action="{% url 'new_brick' brick.pk 'ca' %}" class="button_form">
            <input type="submit" value="⚡" title="{% trans 'Create Contra-Argument' %}"
                   class="text-block-button"/>
        </form>

{% endblock %}
        </div>
<!-- End of left cell       -->

        <div class="cell_righ_outert">
            <div class="cell_right_inner">
{% block footmenu_right %}

                <div class="text-block-btn-box date-box"
                title="created: {{brick.creation_datetime|date:'Y-m-d H:i:s'}},&#013;last updated: {{brick.update_datetime|date:'Y-m-d H:i:s'}}">↑ {{brick.update_datetime|date:"Y-m-d"}}</div>
{% endblock %}

            </div>
        </div>
<!-- End of right cell       -->
    </div>
<!-- End of table       -->



    </div>

</div>

{% block final_separator %}
{% endblock %}