{% extends "sober/brick__base.html" %}
{% load extra_filters %}


{% block title_tag_css %}box_thesis{% endblock %}


{% block box_css %}box_base box_thesis box_tagged{% endblock %}



{% block references %}
{# dont show references in thesis#}
{% endblock %}


{% block footmenu_left %}


{# ---- pro button ----#}
{% with ibt="pro"|get_info_button_tags:brick%}
{% include "sober/widget_ddmenu_info_button.html" with brick=brick ibt=ibt only %}
{% endwith %}


{# ---- contra button ----#}
{% with ibt="contra"|get_info_button_tags:brick%}
{% include "sober/widget_ddmenu_info_button.html" with brick=brick ibt=ibt only %}
{% endwith %}


{# ---- further reactions button ----#}
{% with ibt="rest"|get_info_button_tags:brick%}
{% include "sober/widget_ddmenu_info_button.html" with brick=brick ibt=ibt only %}
{% endwith %}


{# ---- vote-slider ----#}
{% include "sober/widget_ddmenu_vote_slider.html" with page_options=page_options brick=brick csrf_token=csrf_token only %}


{# ---- action-menu ----#}
{% include "sober/widget_ddmenu_brick_action.html" with brick=brick page_options=page_options only %}

{% endblock %}

{% block final_separator %}
{% endblock %}
