{% extends "sober/brick__base.html" %}
{% load extra_filters %}


{% block title_tag_css %}box_thesis{% endblock %}


{% block box_css %}box_base box_thesis box_tagged{% endblock %}

{% block inbox_title %}

<div class="box_thesis_title">
<b>{{brick.title}}</b>
</div>

{% endblock %}

{% block references %}
{# dont show references in thesis#}
{% endblock %}


{% block footmenu_left %}

{% with ibt="pro"|get_info_button_tags:brick%}
{% include "sober/widget_ddmenu_info_button.html" with brick=brick ibt=ibt only %}
{% endwith %}

{% with ibt="contra"|get_info_button_tags:brick%}
{% include "sober/widget_ddmenu_info_button.html" with brick=brick ibt=ibt only %}
{% endwith %}

{% with ibt="rest"|get_info_button_tags:brick%}
{% include "sober/widget_ddmenu_info_button.html" with brick=brick ibt=ibt only %}
{% endwith %}


        {% include "sober/widget_ddmenu_vote_slider.html" with description_text="Zustimmung" only %}

        {% include "sober/widget_ddmenu_brick_action.html" with brick=brick page_options=page_options only %}

{% endblock %}

{% block final_separator %}
{% endblock %}
