{% extends "sober/base.html" %}
{% load i18n %}
{% load extra_filters %}

{% block title %}Debug Page{% endblock %}
{% block content %}

{% if c.utc_comment %}
<!-- {{c.utc_comment}}  -->
{% endif %}

<h1>Debug information</h1>

settings.DEBUG=
{% if "DEBUG"|settings_value %}
True
<!-- utc_settings.DEBUG=True  -->
{% else %}
False
<!-- utc_settings.DEBUG=False  -->
{% endif %}
    <br><hr>
1 2 3 4 5 6 7 8 9 A
1 2 3 4 5 6 7 8 9 B
1 2 3 4 5 6 7 8 9 C
1 2 3 4 5 6 7 8 9 D
1 2 3 4 5 6 7 8 9 E
1 2 3 4 5 6 7 8 9 F
    <br><hr>


<p id="demo">(to be replaced)</p>


<div style="color:#AFA;">test</div>

<div id="debug" style='width: 30mm; border: solid;'>30mm

</div>

<script>

var el = document.getElementById("demo");

var fs = window.getComputedStyle(el).fontSize;
var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
el.innerHTML= fs+ ";" + w + "x"+ h

console.log(fs);


</script>


    <br><hr>

{% for k, v in c.data.items %}
    {{k}}
    <br>
    {{v}}
    <br><hr>
{% endfor%}


<br><hr>
Session:
{{request.session}}


<br><hr>
<form action="debug#test" method="post" class="nocss_vote_form">
        {% csrf_token %}

        <input type="submit" value="{% trans 'send vote' %}">
    </form>
<br><hr>
<br><br><br><br><br><br><hr>
<br><br><br><br><br><br><hr>
<br><br><br><br><br><br><hr>

<div id="test">
    Anker-Test
</div>

<!--Type: {{pagetype}}-->


<a href="{% url 'international_test'%}">test: internationalization</a>
{% endblock %}

