{% extends "sober/widget_ddmenu_abstract.html" %}
{% load extra_filters %}

{% block css1 %}text-block-btn-box{% endblock %}
{% block css2 %}bold{% endblock %}
{% block head_content %}...{% endblock %}

{% block menu_content %}

{# ------- Construct upward links  ------- #}
        {% if brick.absolute_level != 0 %}
          <!-- !! hcl -->
            <span class="upward">Aufwärts:
                {# !! This whole construct might look suboptimal for high brick levels >5 #}
            {% for symbol, idx, pk in brick.parent_type_list|slice:"0:-1" %}
                {# explanation: forloop.counter0 is the absolute level of respective parent #}
                {% if forloop.counter0|subtract:page_options.bb_alevel < 0 %}
                    <a class="url_link" href="/b/{{pk}}">
                    {{symbol}}{{idx}}
                    </a>
                {%else%}
                    <a class="anchor_link" href="#{{pk}}">
                    {{symbol}}{{idx}}
                    </a>
                {%endif%}
            {% endfor %}
        </span>
        <hr>
        {%endif%}
{# ------- end of construct upward links ------- #}


  {% if page_options.page_type == "brick_detail" %}
          {# the following comment is used in unit tests #}
          <!-- utc_reaction_brick_drop_down_menu -->
          <!--!! hcl-->
      {% if brick.type == brick.thesis%}
        <a class="block dd_menu_link" href="{% url 'new_brick' brick.pk 'pa' %}">✓ Proargument</a>
      {%endif%}
        <a class="block dd_menu_link" href="{% url 'new_brick' brick.pk 'ca' %}">⚡ Gegenargument</a>
        <a class="block dd_menu_link" href="{% url 'new_brick' brick.pk 'is' %}">&#x1f4a1;Verbesserungsvorschlag</a>
        <a class="block dd_menu_link" href="{% url 'new_brick' brick.pk 'qu' %}">? Frage</a>
        <a class="block dd_menu_link" href="{% url 'new_brick' brick.pk 'co' %}">&#x1f5e8; Kommentar</a>
        <hr>
  {% else %}
        <a class="block dd_menu_link" href="{% url 'brickid' brick.pk %}">Show {{brick.long_brick_type}} and its Arguments</a>
        <hr>
  {%endif%}
        <a class="block dd_menu_link" href="{% url 'edit_brick' brick.pk %}">&#x270e; Edit</a>
        <a class="block dd_menu_link" href="#">&#9872; Moderationsbedarf</a>


{% endblock %}
