{% extends "sober/widget_ddmenu_abstract.html" %}
{% load i18n %}
{% load extra_filters %}

{# this is necessary because the menu heading should look like a link but is not a link#}
{% block css2 %}fake_modest_links{% endblock %}

{% block head_mouseover_title %}
title="{% trans 'General account actions' %}"
{% endblock %}
{% block head_content %}
{% trans "Account" %}
{% endblock %}


{% block menu_content %}

{# TODO: introduce reverse url for settings #}
<a class="block dd_menu_link" href="/settings">{% trans 'Settings' %}</a>
<br>
{% if not page_options.is_loggedin %}
<a class="block dd_menu_link" href="{% url 'register_page' %}">{% trans 'Register' %}</a>
<a class="block dd_menu_link" href="{% url 'login_page' %}">{% trans 'Login' %}</a>
{% else %}
<a class="block dd_menu_link" href="{% url 'profile_page' %}">{% trans 'Profile' %}</a>
<br>
<a class="block dd_menu_link" href="{% url 'logout_page' %}">{% trans 'Logout' %}</a>
{% endif %}
{% endblock %}
