{% extends "sober/brick__base.html" %}


{% block title_tag_css %}box_thesis{% endblock %}


{% block box_css %}box_base box_thesis box_tagged{% endblock %}

{% block inbox_title %}

<div class="box_thesis_title">
<b>{{brick.title}}</b>
</div>

{% endblock %}

{% block references %}
{# dont show references in thesis#}
{% endblock %}

{% block tags %}
<hr>
<div class="tags-text">
Tags: geological events; intelligent atoms; cloud-blockchain;
</div>
{% endblock %}


{% block footmenu_left %}
        <div class="text-block-button text-block-button-pro">
            pro: 2 (8|3)
        </div>
        <div class="text-block-button text-block-button-contra">
            contra: 2 (8|3)
        </div>

        <div class="slidecontainer">
             <input type="range" min="-2" max="2" value="0" class="slider" id="vote_{{brick.pk}}">

            <div class="text-block slider-text-block">
                <!--hcl!!-->
                Zustimmung
            </div>

        </div>

        <div class="text-block-button">...</div>

{% endblock %}

{% block final_separator %}
<hr class="section_divider">
{% endblock %}
