{% extends "sober/brick__base.html" %}


{% block title_tag_css %}box_question{% endblock %}

{% block box_css %}box_base box_question box_tagged{% endblock %}

{% block inbox_title %}

<b>{{brick.title}}</b>

{% endblock %}


{% block footmenu_left %}
        <div class="slidecontainer">
            <input type="range" min="-2" max="2" value="0" class="slider" id="vote_{{brick.pk}}">
            <div class="text-block slider-text-block">
                <!--hcl!!-->
                Relevanz
            </div>
        </div>

        <div class="text-block-button">...</div>
        <div class="text-block-button">⚡</div>

{% endblock %}
