
<div class="{{brick.indentation_class}}">

<div class="box_title-tag modest_links {% block title_tag_css %}{% endblock %}">
    <a href="{% url 'brickid' brick.pk %}">{{brick.title_tag}}</a>
</div>



<div class="{% block box_css %}box_base{% endblock %}">

{% block inbox_title %}
    <b>{{brick.title}}</b>
{% endblock %}

{% block content %}
    {{brick.content}}
{% endblock %}

{% block references %}
    <hr>
    <div class="references">
    <b>Referenzen</b>[1] wikipedia;
    </div>
{% endblock %}

{% block taglist %}
{# for most blocks we dont want to display tags #}
{% endblock %}
<hr>

    <div class="tab_container">
        <div class="cell_left">
{% block footmenu_left %}


            {# !! This should live in its own little template #}
            <div class="text-block-btn-box dropdown">
                <button class="dropbtn" >Überzeugungskraft</button>

                <div class="dropdown-content">
                <input type="range" min="-2" max="2" value="0" class="slider" id="vote_{{brick.pk}}">
                    <br>
                    abschicken
                </div>

            </div>


        <div class="text-block-btn-box dropdown">
            <button class="dropbtn bold">...</button>
              <div class="dropdown-content">

                <span class="upward">Aufwärts:
                    {# !! This might look ugly for high brick levels >5 #}
                {% for symbol, idx, pk in brick.parent_type_list|slice:"0:-1" %}
                    <a href="/b/{{pk}}">
                      {{symbol}}{{idx}}
                    </a>
                {% endfor %}
                </span>

                <b>Optionen</b><br>
                  <!--!! hcl-->
                <a class="block" href="{% url 'new_brick' brick.pk 'is' %}">&#x1f4a1;Verbesserungsvorschlag</a>
                <a class="block" href="{% url 'new_brick' brick.pk 'qu' %}">? Frage</a>
                <a class="block" href="{% url 'new_brick' brick.pk 'ca' %}">⚡ Gegenargument</a>
                <a class="block" href="{% url 'new_brick' brick.pk 'co' %}">&#x1f5e8; Kommentar</a>
                  <br>
                <a class="block" href="#">&#9872; Moderationsbedarf</a>
              </div>
        </div>
            <!--End of menu button-->
        <form action="{% url 'new_brick' brick.pk 'co' %}" class="button_form">
            <!--!!hcl-->
            <input type="submit" value="⚡" title="Contra-Argument erstellen"
                   class="text-block-button"/>
        </form>

{% endblock %}
        </div>
<!-- End of left cell       -->

        <div class="cell_righ_outert">
            <div class="cell_right_inner">
{% block footmenu_right %}

                <div class="text-block-btn-box date-box"
                title="created: {{brick.creation_datetime|date:'Y-m-d G:H:s'}},&#013;last updated: {{brick.update_datetime|date:'Y-m-d G:H:s'}}">↑ {{brick.update_datetime|date:"Y-m-d"}}</div>
{% endblock %}

            </div>
        </div>
<!-- End of right cell       -->
    </div>
<!-- End of table       -->



    </div>

</div>

{% block final_separator %}
{% endblock %}