
<div class="{{brick.indentation_class}}">

<div class="box_title-tag modest_links {% block title_tag_css %}{% endblock %}">
    <a href="{% url 'brickid' brick.pk %}">{{brick.title_tag}}</a>
</div>



<div class="{% block box_css %}box_base{% endblock %}">

{% block inbox_title %}
    <b>{{brick.title}}</b>
{% endblock %}

{% block content %}
    {{brick.content}}
{% endblock %}

{% block references %}
    <hr>
    <div class="references">
    <b>Referenzen</b>[1] wikipedia;
    </div>
{% endblock %}

{% block taglist %}
{# for most blocks we dont want to display tags #}
{% endblock %}
<hr>

    <div class="tab_container">
        <div class="cell_left">
{% block footmenu_left %}

        <div class="slidecontainer">
             <input type="range" min="-2" max="2" value="0" class="slider" id="vote_{{brick.pk}}">

            <div class="text-block slider-text-block">
                <!--hcl!!-->
                Überzeugungskraft
            </div>

        </div>

        <div class="text-block-button dropdown">
            <button class="dropbtn">...</button>
              <div class="dropdown-content">
                  <b>Optionen</b><br>

                <span>Aufwärts: <a href="#">1</a> <a href="#">2</a></span>
                <a class="block" href="#">Link 3</a>
                <a class="block" href="#">Link 3</a>
                <a class="block" href="#">Link 3</a>
              </div>

        </div>
        <div class="text-block-button">
            <button class="dropbtn">⚡</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
        </div>


{% endblock %}
        </div>
<!-- End of left cell       -->

        <div class="cell_righ_outert">
            <div class="cell_right_inner">
{% block footmenu_right %}

                <div class="text-block-button date-box">↑ 2018-08-05</div>
{% endblock %}

            </div>
        </div>
<!-- End of right cell       -->
    </div>
<!-- End of table       -->



    </div>

</div>

{% block final_separator %}
{% endblock %}