{% extends "sober/brick__base.html" %}


{% block title_tag_css %}box_thesis{% endblock %}


{% block box_css %}box_base box_thesis box_tagged{% endblock %}

{% block inbox_title %}

<div class="box_thesis_title">
<b>{{brick.title}}</b>
</div>

{% endblock %}

{% block references %}
{# dont show references in thesis#}
{% endblock %}

{% block tags %}
<hr>
<div class="tags-text">
Tags: geological events; intelligent atoms; cloud-blockchain;
</div>
{% endblock %}


{% block footmenu_left %}
        <div class="text-block-btn-box text-block-button-pro">
            pro: {{brick.nbr_pro}} (<span title="median vote">0</span>)
        </div>
        <div class="text-block-btn-box text-block-button-contra">
            contra: {{brick.nbr_contra}} (<span title="median vote">0</span>)
        </div>

        {% include "sober/widget_vote_slider.html" with description_text="Zustimmung" only %}

        {% include "sober/widget_brick_ddmenu.html" with brick=brick only %}

{% endblock %}

{% block final_separator %}
{% endblock %}
