
<div class="{{brick.indentation_class}}">
    <!--unicode south east arrow-->
<a name="{{brick.pk}}" class="shifted_anchor"><span class="anchor_highlight">&#x2198;</span></a>

<div class="box_title-tag modest_links {% block title_tag_css %}{% endblock %}">
    <a href="{% url 'brickid' brick.pk %}">{{brick.title_tag}}</a>
</div>



<div class="{% block box_css %}box_base{% endblock %}">

{% block inbox_title %}
    <b>{{brick.title}}</b>
{% endblock %}

{% block content %}
    {{brick.content}}
{% endblock %}

{% block references %}
    <hr>
    <div class="references">
    <b>Referenzen</b>[1] wikipedia;
    </div>
{% endblock %}

    rlevel: {{brick.relative_level}}
    <br>
    alevel: {{brick.absolute_level}}
    <br>
    bb_alevel: {{page_options.bb_alevel}}
    <br>
    iclass: {{brick.indentation_class}} {{brick.indentation_offset}}
    <br>
    pk: {{brick.pk}}  parent.pk = {{brick.parent.pk}}
    <br>
    page_options.page_type: {{page_options.page_type}}

{% block taglist %}
{# for most blocks we dont want to display tags #}
{% endblock %}
<hr>

    <div class="tab_container">
        <div class="cell_left">
{% block footmenu_left %}

        <!-- !! hcl-->
        {% include "sober/widget_vote_slider.html" with description_text="Überzeugungskraft" only %}

        {% include "sober/widget_brick_ddmenu.html" with brick=brick page_options=page_options only %}

            <!--End of menu button-->
        <form action="{% url 'new_brick' brick.pk 'ca' %}" class="button_form">
            <!--!!hcl-->
            <input type="submit" value="⚡" title="Contra-Argument erstellen"
                   class="text-block-button"/>
        </form>

{% endblock %}
        </div>
<!-- End of left cell       -->

        <div class="cell_righ_outert">
            <div class="cell_right_inner">
{% block footmenu_right %}

                <div class="text-block-btn-box date-box"
                title="created: {{brick.creation_datetime|date:'Y-m-d H:i:s'}},&#013;last updated: {{brick.update_datetime|date:'Y-m-d H:i:s'}}">↑ {{brick.update_datetime|date:"Y-m-d"}}</div>
{% endblock %}

            </div>
        </div>
<!-- End of right cell       -->
    </div>
<!-- End of table       -->



    </div>

</div>

{% block final_separator %}
{% endblock %}