
  <div class="box_title-tag box_thesis">
    These:
    </div>
    <div class="box_base box_thesis box_tagged">

        <div class="box_thesis_title">
        <b>{{brick.title}}</b>
        </div>

        {{brick.content}}

        <hr>
            <div class="tags-text">
            Tags: geological events; intelligent atoms; cloud-blockchain;
            </div>
        <hr>

<!--  Versuch mit Tabelle    -->
    <div class="tab_container">
        <div class="cell_left">
            <div class="text-block-button text-block-button-pro">
                pro: 2 (8|3)
            </div>
            <div class="text-block-button text-block-button-contra">
                contra: 2 (8|3)
            </div>

            <div class="slidecontainer">
                 <input type="range" min="-5" max="5" value="0" class="slider" id="myRange1">

                <div class="text-block slider-text-block">
                    <!--hcl!!-->
                    Zustimmung
                </div>

            </div>

            <div class="text-block-button">...</div>

        </div>
<!-- End of left cell       -->

        <div class="cell_righ_outert">
            <div class="cell_right_inner">

                <div class="text-block-button date-box">↑ 2018-08-05</div>

            </div>
        </div>
<!-- End of right cell       -->
    </div>
<!-- End of table       -->


    </div>