{% extends "sober/base.html" %}

{% block title %}{{sp.title}}: {{ block.super }}{% endblock %}
{% block content %}

{{sp.content}}

{% if sp.parent_brick %}

{% include sp.parent_brick.template with brick=sp.parent_brick bb_alevel=sp.parent_brick.absolute_level only %}


{% endif %}
{% if sp.form %}

<!-- !! hcl -->
<div class="vspace">
<hr>
{% if form.form_type == "new" %}
Deine Reaktion: {{sp.long_brick_type}}
{% else %}
Diskussionsbaustein ({{sp.long_brick_type}}) bearbeiten:
{% endif %}
</div>
<hr>
gi
<div class="brick_form">
{# for information how to manually render a form, see #}
{# https://www.webforefront.com/django/formtemplatelayout.html #}

{% if brick_id >= 0 and type_code %}
{# ---------------  This branch is for new reaction-bricks   --------------- #}
<form action="{% url sp.form.action_url_name brick_id type_code %}" method="post">

{% elif brick_id >= 0 %}
{# ---------------  This branch is to edit bricks   --------------- #}
<form action="{% url sp.form.action_url_name brick_id %}" method="post">
{% else %}
{# ---------------  This branch is for new root-bricks (thesis)  --------------- #}
<form action="{% url sp.form.action_url_name %}" method="post">
{% endif %}


{% csrf_token %}
{{sp.form.as_p}}
<!-- !!hcl -->
<input type="submit" value="Save">
</form>
</div>
{% endif %}

<!--Type: {{pagetype}}-->
{% endblock %}

