{% extends "sober/base.html" %}


{% block title %}sober: {{brick.title}}{% endblock %}


{% block content %}


  <div class="box_title-tag box_thesis">
    These:
    </div>
    <div class="box_base box_thesis box_tagged">

        <div class="box_thesis_title">
        <b>{{brick.title}}</b>
        </div>

        {{brick.content}}

        <hr>
            <div class="tags-text">
            Tags: geological events; intelligent atoms; cloud-blockchain;
            </div>
        <hr>

<!--  Versuch mit Tabelle    -->
    <div class="tab_container">
        <div class="cell_left">
            <div class="text-block-button text-block-button-pro">
                pro: 2 (8|3)
            </div>
            <div class="text-block-button text-block-button-contra">
                contra: 2 (8|3)
            </div>

            <div class="slidecontainer">
                 <input type="range" min="-5" max="5" value="0" class="slider" id="myRange1">

                <div class="text-block slider-text-block">
                    <!--hcl!!-->
                    Zustimmung
                </div>

            </div>

            <div class="text-block-button">...</div>

        </div>
<!-- End of left cell       -->

        <div class="cell_righ_outert">
            <div class="cell_right_inner">

                <div class="text-block-button date-box">↑ 2018-08-05</div>

            </div>
        </div>
<!-- End of right cell       -->
    </div>
<!-- End of table       -->


    </div>
    <div class="box_bottom_tag_outer">
    <div class="box_bottom_tag box_thesis">
<!--     Erstellt: 2018-08-04 -->
<!--     <br> -->
    Update: 2018-08-05
    </div>
    </div>

    <hr class="section_divider">
    <div class="box_title-tag box_pro">
    pro#1
    </div>
    <div class="box_base box_pro_content box_tagged">
        <b>Laws of physics Euclid courage of our questions.</b>

        Are creatures of the cosmos intelligent beings bits of moving fluff a very small stage in a vast cosmic arena Tunguska event [1],
        rich in heavy atoms concept of the number one the only home we've ever known astonishment another world great turbulent clouds white dwarf [2].

        <hr>
        Quellen: [1] wikipedia.org (tunguska); [2] Grundgesetz
        <hr>
<!--  -->
        <ul class="button_list">
            <li>
            <div class="slidecontainer">
            <input type="range" min="-5" max="5" value="0" class="slider" id="myRange">
           <div class="text-block slider-text-block">
            Überzeugungskraft
            </div>
            </div>
            </li>
            <li>
            <div class="text-block-button">...</div>
            </li>
            <li>
            <div class="text-block-button">⚡</div>
            </li>
        </ul>
    </div>


    <div class="ml1">
    <div class="box_title-tag box_contra">
    pro#1⚡1
    </div>
    <div class="box_base box_contra_content box_tagged">
        <b>This is nonsense</b>

        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

    </div>
    </div>

    <div class="ml1">
    <div class="box_title-tag box_contra">
    pro#1⚡2
    </div>
    <div class="box_base box_contra_content box_tagged">
        <b>This is logically invalid</b>

         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

    </div>
    </div>

    <div class="ml2">
    <div class="box_title-tag box_pro">
    pro#1⚡2⚡1
    </div>
    <div class="box_base box_pro_content box_tagged">
        <b>Pro#1 is correct. Counter-Arg suffers from logical error</b>

         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

    </div>
    </div>


     <br>



    <div class="box_title-tag box_pro">
    pro#2
    </div>
    <div class="box_base box_pro_content box_tagged">
        <b>Laws of physics Euclid courage of our questions.</b>

        Are creatures of the cosmos intelligent beings bits of moving fluff a very small stage in a vast cosmic arena Tunguska event,
        rich in heavy atoms concept of the number one the only home we've ever known astonishment another world great turbulent clouds white dwarf.

    </div>
    <hr class="section_divider">
    <div class="box_title-tag box_contra">
    contra#1
    </div>
    <div class="box_base box_contra_content box_tagged">
        <b>Laws of physics Euclid courage of our questions.</b>

        Are creatures of the cosmos intelligent beings bits of moving fluff a very small stage in a vast cosmic arena Tunguska event,
        rich in heavy atoms concept of the number one the only home we've ever known astonishment another world great turbulent clouds white dwarf.

    </div>
    <hr class="section_divider">
    <div class="box_title-tag box_question">
    Frage#1
    </div>
    <div class="box_base box_question box_tagged">
        <b>Laws of physics Euclid courage of our questions?</b>

        Are creatures of the cosmos intelligent beings bits of moving fluff a very small stage in a vast cosmic arena Tunguska event,
        rich in heavy atoms concept of the number one the only home we've ever known astonishment another world great turbulent clouds white dwarf.

    </div>
    <div class="box_title-tag box_comment">
    Kommentar#1
    </div>
    <div class="box_base box_comment box_tagged">
        <b>Laws of physics Euclid courage of our questions?</b>

        Are creatures of the cosmos intelligent beings bits of moving fluff a very small stage in a vast cosmic arena Tunguska event,
        rich in heavy atoms concept of the number one the only home we've ever known astonishment another world great turbulent clouds white dwarf.

    </div>

    <div class="test">
    abcdefg
    </div>

    xyz
    <div class="test_a">
    test a
    </div>

    <div class="test2">
    abcdefg
    </div>








{% endblock %}

