{% extends "sober/base.html" %}

{% block title %}{{sp.title}}: {{ block.super }}{% endblock %}
{% block content %}

{{sp.content}}

{% if sp.parent_brick %}

{% include sp.parent_brick.template with brick=sp.parent_brick bb_alevel=sp.parent_brick.absolute_level only %}


{% endif %}
{% if sp.form %}

<!-- !! hcl -->
<div class="vspace">
<hr>
Deine Reaktion: {{sp.long_brick_type}}
</div>
<hr>

<div class="brick_form">
{# for information how to manually render a form, see #}
{# https://www.webforefront.com/django/formtemplatelayout.html #}

<form action="{% url 'new_brick' brick_id type_code %}" method="post">
{% csrf_token %}
{{sp.form.as_p}}
<!-- !!hcl -->
<input type="submit" value="Save">
</form>
</div>
{% endif %}

<!--Type: {{pagetype}}-->
{% endblock %}

